PngImage_1 RCDATA "Images\\aztec.png"
PngImage_2 RCDATA "Images\\codabar.png"
PngImage_4 RCDATA "Images\\code93.png"
PngImage_5 RCDATA "Images\\code128.png"
Bitmap_1 BITMAP "Images\\code128-custom.bmp"
PngImage_6 RCDATA "Images\\datamatrix.png"
PngImage_7 RCDATA "Images\\ean8.png"
GifImage_1 RCDATA "Images\\ean13.gif"
GifImage_2 RCDATA "Images\\itf.gif"
PngImage_8 RCDATA "Images\\itf.png"
PngImage_9 RCDATA "Images\\l2of5small.png"
PngImage_10 RCDATA "Images\\l2of5verysmall.png"
PngImage_11 RCDATA "Images\\pdf417.png"
PngImage_12 RCDATA "Images\\qrcode.png"
PngImage_13 RCDATA "Images\\upca.png"
PngImage_14 RCDATA "Images\\upce.png"
